main {
    display: flex;
    height: 77vh;
    width: 100%;
    gap: 140px;
}

.login-image {
    max-width: 600px;
    max-height: 600px;
    margin-left: 60px;
}

.login-form {
    min-width: 470px;
    height: 93%;
    background-color: #FFFFFF;
    border-radius: 45px;
    box-shadow: 8px 3px 12px 0px rgba(0, 0, 0, 0.70);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form__inputs {
    display: flex;
    flex-direction: column;
    width: 85%;
    gap: 8px;
    justify-content: center;
}

login-form__inputs,
label {
    font-size: 1.3rem;
    font-weight: bolder;
}

.ingresos {
    border: none;
    border-bottom: 1px solid black;
    outline: none;

}

.iniciar {
    margin-top: 15px;
    height: 50px;
    border-radius: 50px;
    color: #FEFAE0;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: #283618;
}

.iniciar:hover {
    background-color: #DDA15E;
    cursor: pointer;
}

.login-form__messages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form__title {
    color: #283618;
    font-size: 2.5rem;
}

.registro {
    margin-bottom: 5px;
}

.resgistrologin {
    text-decoration: none;
}

.resgistrologin:hover {
    color: #DDA15E;
}